$cell: 100px;
$weekdays: (
  mon: 0,
  tue: 1 + 1 * $cell,
  wed: 2 + 2 * $cell,
  thu: 3 + 3 * $cell,
  fri: 4 + 4 * $cell,
  sat: 5 + 5 * $cell,
  sun: 6 + 6 * $cell,
);

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.calendar {
  display: flex;
  gap: 1px;
  margin: auto;
  align-content: center;
  flex-wrap: wrap;
  width: 750px;
  height: 740px;
}

@each $i in (28, 29, 30, 31) {

  .calendar-#{$i} {

    @for $j from 1 through $i {
  
      div:nth-child(#{$j}) {
        background-color: #eee;
        display: flex;
        justify-content: center;
        width: $cell;
        height: $cell;
        border: 1px solid black;
        transition: bottom 0.5s, background-color 0.5s linear;
      
    
        &:hover {
          position: relative;
          bottom: 20px;
          background-color: #ffbfcb;
        }

        &::after {
          content: "#{$j}";
          align-self: center;
        }
      }
    }
  }
}

@each $weekday, $gapday in  $weekdays {
  .calendar-#{$weekday} div:first-child {
    margin-left: #{$gapday};
  }
}
